 * {
      box-sizing: border-box;
    }

  
    h1 {
      text-align: center;
    }
    .row {
      min-height: 80px;
      margin: 15px 0;
      padding: 12px;
      border: 1px solid #777;
      background: #eee;
    }

    .row-tall {
      min-height: 145px;
    }

    .box {
      width: 160px;
      height: 52px;
      border: 1px solid #a82b2b;
      background: #be5151;
    }

    .left {
      float: left;
    }

    .right {
      float: right;
    }

    .gap-right {
      margin-right: 24px;
    }

    .gap-left {
      margin-left: 24px;
    }

    .small-gap {
      margin-bottom: 10px;
    }

    .large {
      height: 114px;
    }

    .right-group {
      width: 346px;
      float: right;
    }

    .right-group .large {
      float: left;
      margin-right: 24px;
    }

    .right-group .stack {
      float: right;
    }

    
    .center-group {
      width: 346px;
      margin: 0 auto;
    }

    .center-group .large {
      float: left;
      
    }

    .center-group .stack {
      float: right;
    }